<div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <td>Idsemestre</td>
                <td>matricule</td>
                <td>ue</td>
                <td>note</td>
                <td>codmention</td>
                <td>decision</td>
                <td>annee</td>
                <td>Nom</td>
                <td>Code UE</td>



            </tr>
        </thead>
       
    </table>
</div>