@model ENAapp.Models.Compte

@{
    ViewData["Title"] = "Reset Password";
    Layout = "_Layout";

    if (ViewBag.Id != null)
    {
        Model.Id = ViewBag.Id;
    }

}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ResetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Passhash" class="control-label">New Password</label>
                <input type="password" asp-for="Passhash" class="form-control" />
                <span asp-validation-for="Passhash" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Reset" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

